@import "../../../styles/variables.scss";

.filter__options {
    display: flex;
    gap: 1em;
    align-items: center;
    @include text($lineHeight: 0px);
    &__item {
        cursor: pointer;
    }
}

.filter {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 200;
    position: absolute;
    right: 0px;
    top: 56px;
    width: 256px;
    padding-bottom: 28px;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__close {
        cursor: pointer;
    }
}

.hidden {
    display: none;
}
