@import "../../styles/variables.scss";
.device-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.device {
    display: flex;
    width: 688px;
    &__img {
        min-width: 256px;
    }
    .table {
        border-collapse: collapse;
        width: 100%;
        &__data {
            text-align: left;
            &--align-right {
                text-align: right;
            }
        }
    }
}
