@import "../../styles/variables.scss";
.device-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.device {
    display: flex;
    width: 688px;
    &__img {
        min-height: 256px;
        object-fit: cover;
    }
    .table {
        border-collapse: collapse;
        width: 100%;
        &__row {
            cursor: inherit;
            &:hover {
                background-color: inherit;
                @include text();
            }
        }
        &__data {
            text-align: left;
            &--align-right {
                text-align: right;
            }
        }
    }
}
