@import "../../../styles/variables.scss";

.search {
    display: flex;
    background-color: $bg-grey;
    width: 344px;
    height: 32px;
    padding-left: 0.3em;
    padding-right: 0.8em;
    border-radius: 5px;

    &__input {
        background-color: $bg-grey;
        width: 100%;
        border: none;
        outline: none;
    }
    %icon {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        // padding: 0.1em;
        align-self: center;
    }
    &__icon {
        @extend %icon;
        background: url("../../../assets/magnifier-icon.svg");
        height: 30px;
        width: 30px;
    }
    &__close-icon {
        @extend %icon;
        background: url("../../../assets/close-icon.svg");
        height: 12px;
        width: 12px;
        cursor: pointer;
    }
}
