$bg-primary: #fff;
$bg-grey: #f6f6f8;
$border-color: #ededf0;
$hover-color: #fbfbfb;
$active-color: #006fff;

$red-color: #fd6b6b63;
$text-color: rgba(0, 0, 0, 0.65);
$text-color-light: rgba(0, 0, 0, 0.45);
$text-color-dark-grey: #838691;
$text-color-light-grey: #bdbdbd;

$box-shadow-color: rgba(0, 0, 0, 0.15);
$box-shadow: 0px 12px 48px 0px $box-shadow-color;

@mixin text(
    $color: $text-color,
    $textSize: 14px,
    $textWeight: 400,
    $lineHeight: 24px
) {
    color: $color;
    font-size: $textSize;
    font-weight: $textWeight;
    line-height: $lineHeight;
}

%main-content {
    margin: 2em;
}
