@import "../../styles/variables.scss";

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1em;
    place-items: center;
}

.card {
    width: 180px;
    height: 193px;
    border: 1px solid $border-color;
    border-radius: 8px;
    cursor: pointer;
    &__img-wrapper {
        background-color: #f6f6f8;
        height: 124px;
        display: flex;
        justify-content: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    &__description {
        padding: 1em;
    }
}

@media screen and (min-width: 668px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, 233px);
        gap: 2em;
    }
    .card {
        width: 233px;
    }
}
